@model IEnumerable<PeoplePro.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Index</h1>

<div id="modal-placeholder"></div>

@await Html.PartialAsync("_Table", Model)

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-department" data-url="@Url.Action("DepartmentModal")">
    Add Department
</button>