@model DatabaseSite.Models.Login

<h1>
    Login to change the database
</h1>


@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.EditorForModel()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
