@model PeoplePro.Models.Employee
<div>
    <div>Employee Name</div>
        <h2>@Model.FirstName @Model.LastName</h2>
    <div>Employee Id</div>
        <h2>@Model.Id</h2>
    <div>Employee Department</div>
        <h2>@Model.Department</h2>
</div>