@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso.</h2>
    </div>
    <div class="col-md-4">
        <p>a project following tutorial at https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application.</p>
    </div>
</div>