@model IEnumerable<DatabaseSite.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="DepTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Shared/Partials/DepartmentPartial.cshtml", item);
    }
</table>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


<div>
    <form>
        Department Name<br>
        <input type="text" id="NewName">
    </form>
</div>

<div>
    <button id="AddButton">Click Me!</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#AddButton").click(function () {
            var a = $("#NewName").val();
            alert(a);
            $.ajax({
                url: "../../AjaxTest/FirstAjax",
                type: "POST",
                data: {name: a},
                success: function (response) {
                    $("#DepTable tr:last").after(response);
                },
                error: function (response) {
                    alert(response.Name);
                }
            });
        });
    });
</script>
