@model IEnumerable<PeoplePro.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Index</h1>

<div id="modal-placeholder"></div>

@await  Html.PartialAsync("_Table", Model)

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-employee" data-url="@Url.Action("EmployeeModal")">
    Add Employee
</button>